In [1]:
# import modules
import pandas as pd

In [2]:
# Create a DataFrame, ha_costs_df, from the mmd_heart_attack_data.csv file.
ha_costs_df = pd.read_csv('../data/mmd_heart_attack_data.csv')

In [4]:
#Examine the first 5 rows and the last five rows of the TN heart attack data.
ha_costs_df.head(5)

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,40470
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,36615
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,46509
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,42949
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,50067

In [5]:
ha_costs_df.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2651,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72097,Mayaguez Municipio,PUERTO RICO,Urban,All,undefined,28128
2652,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72113,Ponce Municipio,PUERTO RICO,Urban,All,undefined,26403
2653,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72125,San German Municipio,PUERTO RICO,Urban,All,undefined,26398
2654,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72127,San Juan Municipio,PUERTO RICO,Urban,All,undefined,36599
2655,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,72139,Trujillo Alto Municipio,PUERTO RICO,Urban,All,undefined,26676

In [6]:
# Check the data types of each column by using .info
ha_costs_df.info

<bound method DataFrame.info of       year geography             measure         adjustment      analysis  \
0     2017    County  Average total cost  Unsmoothed actual  Base measure
1     2017    County  Average total cost  Unsmoothed actual  Base measure
2     2017    County  Average total cost  Unsmoothed actual  Base measure
3     2017    County  Average total cost  Unsmoothed actual  Base measure
4     2017    County  Average total cost  Unsmoothed actual  Base measure
...    ...       ...                 ...                ...           ...
2651  2017    County  Average total cost  Unsmoothed actual  Base measure
2652  2017    County  Average total cost  Unsmoothed actual  Base measure
2653  2017    County  Average total cost  Unsmoothed actual  Base measure
2654  2017    County  Average total cost  Unsmoothed actual  Base measure
2655  2017    County  Average total cost  Unsmoothed actual  Base measure

                          domain                    condition primary_sex  \
0     Primary chronic conditions  Acute myocardial infarction         All
1     Primary chronic conditions  Acute myocardial infarction         All
2     Primary chronic conditions  Acute myocardial infarction         All
3     Primary chronic conditions  Acute myocardial infarction         All
4     Primary chronic conditions  Acute myocardial infarction         All
...                          ...                          ...         ...
2651  Primary chronic conditions  Acute myocardial infarction         All
2652  Primary chronic conditions  Acute myocardial infarction         All
2653  Primary chronic conditions  Acute myocardial infarction         All
2654  Primary chronic conditions  Acute myocardial infarction         All
2655  Primary chronic conditions  Acute myocardial infarction         All

     primary_age     primary_dual   fips                   county  \
0            All  Dual & non-dual   1001           Autauga County
1            All  Dual & non-dual   1003           Baldwin County
2            All  Dual & non-dual   1005           Barbour County
3            All  Dual & non-dual   1007              Bibb County
4            All  Dual & non-dual   1009            Blount County
...          ...              ...    ...                      ...
2651         All  Dual & non-dual  72097       Mayaguez Municipio
2652         All  Dual & non-dual  72113          Ponce Municipio
2653         All  Dual & non-dual  72125     San German Municipio
2654         All  Dual & non-dual  72127       San Juan Municipio
2655         All  Dual & non-dual  72139  Trujillo Alto Municipio

            state  urban primary_race primary_denominator  analysis_value
0         ALABAMA  Urban          All           undefined           40470
1         ALABAMA  Rural          All           undefined           36615
2         ALABAMA  Rural          All           undefined           46509
3         ALABAMA  Urban          All           undefined           42949
4         ALABAMA  Urban          All           undefined           50067
...           ...    ...          ...                 ...             ...
2651  PUERTO RICO  Urban          All           undefined           28128
2652  PUERTO RICO  Urban          All           undefined           26403
2653  PUERTO RICO  Urban          All           undefined           26398
2654  PUERTO RICO  Urban          All           undefined           36599
2655  PUERTO RICO  Urban          All           undefined           26676

[2656 rows x 17 columns]>

In [7]:
# Keep only the rows where facilities are in TN.
ha_costs_df = ha_costs_df.query('state == "TENNESSEE"')

In [8]:
# Print the dimensions of the data. How many TN counties are represented in the heart attack costs data?
ha_costs_df.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
2030,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47001,Anderson County,TENNESSEE,Urban,All,undefined,42749
2031,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47003,Bedford County,TENNESSEE,Rural,All,undefined,43661
2032,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47005,Benton County,TENNESSEE,Rural,All,undefined,44423
2033,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47007,Bledsoe County,TENNESSEE,Rural,All,undefined,41240
2034,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,Acute myocardial infarction,All,All,Dual & non-dual,47009,Blount County,TENNESSEE,Urban,All,undefined,38968

In [7]:
ha_costs_df.info

<bound method DataFrame.info of       year geography             measure         adjustment      analysis  \
2030  2017    County  Average total cost  Unsmoothed actual  Base measure
2031  2017    County  Average total cost  Unsmoothed actual  Base measure
2032  2017    County  Average total cost  Unsmoothed actual  Base measure
2033  2017    County  Average total cost  Unsmoothed actual  Base measure
2034  2017    County  Average total cost  Unsmoothed actual  Base measure
...    ...       ...                 ...                ...           ...
2116  2017    County  Average total cost  Unsmoothed actual  Base measure
2117  2017    County  Average total cost  Unsmoothed actual  Base measure
2118  2017    County  Average total cost  Unsmoothed actual  Base measure
2119  2017    County  Average total cost  Unsmoothed actual  Base measure
2120  2017    County  Average total cost  Unsmoothed actual  Base measure

                          domain                    condition primary_sex  \
2030  Primary chronic conditions  Acute myocardial infarction         All
2031  Primary chronic conditions  Acute myocardial infarction         All
2032  Primary chronic conditions  Acute myocardial infarction         All
2033  Primary chronic conditions  Acute myocardial infarction         All
2034  Primary chronic conditions  Acute myocardial infarction         All
...                          ...                          ...         ...
2116  Primary chronic conditions  Acute myocardial infarction         All
2117  Primary chronic conditions  Acute myocardial infarction         All
2118  Primary chronic conditions  Acute myocardial infarction         All
2119  Primary chronic conditions  Acute myocardial infarction         All
2120  Primary chronic conditions  Acute myocardial infarction         All

     primary_age     primary_dual   fips             county      state  urban  \
2030         All  Dual & non-dual  47001    Anderson County  TENNESSEE  Urban
2031         All  Dual & non-dual  47003     Bedford County  TENNESSEE  Rural
2032         All  Dual & non-dual  47005      Benton County  TENNESSEE  Rural
2033         All  Dual & non-dual  47007     Bledsoe County  TENNESSEE  Rural
2034         All  Dual & non-dual  47009      Blount County  TENNESSEE  Urban
...          ...              ...    ...                ...        ...    ...
2116         All  Dual & non-dual  47181       Wayne County  TENNESSEE  Rural
2117         All  Dual & non-dual  47183     Weakley County  TENNESSEE  Rural
2118         All  Dual & non-dual  47185       White County  TENNESSEE  Rural
2119         All  Dual & non-dual  47187  Williamson County  TENNESSEE  Urban
2120         All  Dual & non-dual  47189      Wilson County  TENNESSEE  Urban

     primary_race primary_denominator  analysis_value
2030          All           undefined           42749
2031          All           undefined           43661
2032          All           undefined           44423
2033          All           undefined           41240
2034          All           undefined           38968
...           ...                 ...             ...
2116          All           undefined           40652
2117          All           undefined           55139
2118          All           undefined           40717
2119          All           undefined           61541
2120          All           undefined           52387

[91 rows x 17 columns]>

In [9]:
ha_costs_df.shape

(91, 17)

In [12]:
ha_costs_df['county'].nunique()

91

In [15]:
ha_costs_df['urban'].value_counts()

Rural    53
Urban    38
Name: urban, dtype: int64

In [18]:
ha_costs_df['analysis_value'].describe()

count       91.000000
mean     45762.989011
std       6574.670462
min      30831.000000
25%      41105.500000
50%      45384.000000
75%      49698.500000
max      62641.000000
Name: analysis_value, dtype: float64

In [22]:
ha_costs_df.groupby(['urban'])['analysis_value'].describe()

,count,mean,std,min,25%,50%,75%,max
urban,,,,,,,,
Rural,53.0,45773.075472,6232.724885,30831.0,41240.00,45384.0,48998.0,62641.0
Urban,38.0,45748.921053,7109.788921,32279.0,40452.75,45496.5,50734.5,61541.0

In [23]:
cancer_costs_df = pd.read_csv('../data/mmd_cancer_data.csv')

In [24]:
cancer_costs_df.head()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
0,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1001,Autauga County,ALABAMA,Urban,All,undefined,19293
1,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1003,Baldwin County,ALABAMA,Rural,All,undefined,17151
2,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1005,Barbour County,ALABAMA,Rural,All,undefined,19469
3,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1007,Bibb County,ALABAMA,Urban,All,undefined,17234
4,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,1009,Blount County,ALABAMA,Urban,All,undefined,20317

In [25]:
cancer_costs_df.tail()

,year,geography,measure,adjustment,analysis,domain,condition,primary_sex,primary_age,primary_dual,fips,county,state,urban,primary_race,primary_denominator,analysis_value
3160,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72145,Vega Baja Municipio,PUERTO RICO,Urban,All,undefined,7364
3161,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72147,Vieques Municipio,PUERTO RICO,Rural,All,undefined,9987
3162,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72149,Villalba Municipio,PUERTO RICO,Urban,All,undefined,24127
3163,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72151,Yabucoa Municipio,PUERTO RICO,Urban,All,undefined,8008
3164,2017,County,Average total cost,Unsmoothed actual,Base measure,Primary chronic conditions,"Cancer, Colorectal, Breast, Prostate, Lung",All,All,Dual & non-dual,72153,Yauco Municipio,PUERTO RICO,Urban,All,undefined,11171

In [26]:
cancer_costs_df = cancer_costs_df.query('state == "TENNESSEE"')

In [27]:
cancer_costs_df.shape

(95, 17)

In [28]:
cancer_costs_df['county'].nunique()

95

In [35]:
set(cancer_costs_df['county']).symmetric_difference(set(ha_costs_df['county']))

{'Hancock County', 'Moore County', 'Pickett County', 'Van Buren County'}

In [36]:
set(cancer_costs_df['county'])-set(ha_costs_df['county'])

{'Hancock County', 'Moore County', 'Pickett County', 'Van Buren County'}

In [37]:
cancer_costs_df.groupby(['urban'])['analysis_value'].describe()

,count,mean,std,min,25%,50%,75%,max
urban,,,,,,,,
Rural,57.0,19837.421053,2255.416100,15531.0,18328.00,19633.0,21315.00,25909.0
Urban,38.0,19638.605263,2712.218435,15454.0,17674.75,19203.5,20556.75,27740.0

In [48]:
income_df = pd.read_csv('../data/irs_county_2016.csv')

In [49]:
income_df.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,26450,14680,9740,680,17780,...,4300,9256,70,57,0,0,2590,3685,11510,35079
1,1,AL,0,Alabama,2,285760,217880,25170,39740,143390,...,70050,40569,0,0,0,0,22720,11109,237630,263152
2,1,AL,0,Alabama,3,529780,259680,80320,181410,297440,...,297770,290358,0,0,0,0,41330,40647,474140,1569463
3,1,AL,0,Alabama,4,495750,211100,141800,127420,272030,...,397940,983800,40,22,0,0,73880,110840,415850,1173195
4,1,AL,0,Alabama,5,263130,82330,137610,35760,154540,...,252940,1346083,20,27,0,0,63240,140446,194790,542205

In [50]:
income_df.tail()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
25531,56,WY,45,Weston County,4,610,310,210,70,380,...,540,1559,0,0,0,0,100,188,490,1377
25532,56,WY,45,Weston County,5,460,150,270,40,300,...,440,2548,0,0,0,0,90,249,360,1111
25533,56,WY,45,Weston County,6,460,90,330,40,310,...,450,4072,0,0,0,0,100,333,340,1251
25534,56,WY,45,Weston County,7,460,40,420,0,320,...,460,7958,0,0,0,0,180,907,260,1045
25535,56,WY,45,Weston County,8,90,0,80,0,80,...,90,7195,0,0,50,146,50,2257,30,377

In [51]:
income_df = income_df.query('STATE == "TN"')

In [52]:
income_df.shape

(768, 148)

In [53]:
column_list = ['STATE', 'COUNTYNAME', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'N2', 'NUMDEP', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N02300', 'A02300']

In [54]:
income_df = income_df[column_list]

In [55]:
income_df.shape

(768, 15)

In [56]:
len(column_list)

15

In [57]:
new_column_list = ['state', 'county', 'income_bucket', 'return_count', 'single_returns', 'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents', 'elderly', 'agi', 'returns_with_total_inc','total_inc_amt', 'returns_with_unemployment', 'unemployment_comp']

In [58]:
len(new_column_list)

15

In [59]:
column_name_dict = dict(zip(column_list,new_column_list))

In [60]:
column_name_dict

{'STATE': 'state',
 'COUNTYNAME': 'county',
 'agi_stub': 'income_bucket',
 'N1': 'return_count',
 'mars1': 'single_returns',
 'MARS2': 'joint_returns',
 'MARS4': 'head_of_house_returns',
 'N2': 'exemptions',
 'NUMDEP': 'dependents',
 'ELDERLY': 'elderly',
 'A00100': 'agi',
 'N02650': 'returns_with_total_inc',
 'A02650': 'total_inc_amt',
 'N02300': 'returns_with_unemployment',
 'A02300': 'unemployment_comp'}

In [61]:
income_df = income_df.rename(columns = column_name_dict)

In [63]:
income_df.columns

Index(['state', 'county', 'income_bucket', 'return_count', 'single_returns',
       'joint_returns', 'head_of_house_returns', 'exemptions', 'dependents',
       'elderly', 'agi', 'returns_with_total_inc', 'total_inc_amt',
       'returns_with_unemployment', 'unemployment_comp'],
      dtype='object')

In [64]:
income_df.head()

,state,county,income_bucket,return_count,single_returns,joint_returns,head_of_house_returns,exemptions,dependents,elderly,agi,returns_with_total_inc,total_inc_amt,returns_with_unemployment,unemployment_comp
19752,TN,Tennessee,1,39580,22400,14440,980,60360,8230,19090,-2747555,29090,-2710342,90,348
19753,TN,Tennessee,2,439770,345410,39920,49300,443540,108380,74190,2366417,439780,2441687,4830,12132
19754,TN,Tennessee,3,717430,398720,115040,189290,1269420,472350,141070,12289681,717430,12486175,19660,58771
19755,TN,Tennessee,4,759340,355970,217710,159890,1486710,512170,154020,27370414,759340,27694026,19120,57012
19756,TN,Tennessee,5,396810,128390,215890,42240,881020,268500,106740,24350682,396810,24651803,10630,33894